<main role="main" class="container">
  <div class="row">
    <div class="jumbotron p-3 p-md-5 text-white rounded bloc-img">
      <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">Курица с овощами и нутом</h1>
        <p class="lead my-3">Простой, яркий и такой душевный рецепт. Золотистая курица и сочные овощи, СЫТНый НУТ, немного остроты за счет специй и никаких строгих правил приготовления.</p>
        <p class="lead mb-0"><a href="https://kitchenceremony.com/recipe/chicken-nut" class="text-white font-weight-bold">Источник...</a></p>
      </div>
    </div>
    <div class="col-md-8 blog-main">
      <div class="blog-post">
        <h2 class="blog-post-title">Блюдо из курицы</h2>

        <p>Не важно, какие овощи вы возьмете для этого рецепта. Вам точно пригодятся помидоры, а все остальное - на ваше усмотрение. Мы добавили болгарский перец и лук-шалот. Но в этом блюде будут отлично смотреться и кабачки, и баклажаны, и даже цветная капуста. Консервированный нут можно легко заменить на белую фасоль в томатном соусе.</p>
        <hr>
        <img class="card-img" src="assets/images/IMG_3435_S.jpg" alt="изображение курицы">
        <p>Курицу можно замариновать заранее, или непосредственно перед приготовлением натрите ее аджикой, солью и смажьте маслом. Обжарьте кусочки с обеих сторон на сильном огне до румяной корочки. Отложите курицу в сторону, на этой же сковороде мы приготовим овощи.</p>
        <p>Добавьте еще оливкового масла и пассируйте в нем мелко нарезанный лук до золотистого цвета. Следом отправляйте нарезанный болгарский перец и жарьте, пока он не станет мягким. После этого добавьте нарезанные кубиками помидоры. Потушите еще минут 5 и выложите на сковородку банку консервированного нута вместе с жидкостью. Добавьте специи: сванскую соль, зеленую или сухую аджику, куркуму и шафран для восточного колорита.</p>
        <p>В форму для запекания выложите курицу, сверху разложите тушеные овощи и отправляйте в разогретую духовку минут на 20.</p>
        <img class="card-img" src="assets/images/IMG_3458_S.jpg" alt="изображение салата">
      </div><!-- /.blog-post -->

    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      <div class="p-3 mb-3 bg-light rounded">
        <h4 class="font-italic">Чем полезна курица?</h4>
        <p class="mb-0">Белое мясо, то есть куриная грудка, является сосредоточением белка и обладает рядом полезных свойств, поэтому употреблять в пищу этот продукт допускается врачами даже при самых серьезных заболеваниях сердечно-сосудистой системы и пищеварения.</p>
      </div>

      <div class="p-3">
        <h4 class="font-italic">Необходимые продукты</h4>
        <ol class="list-unstyled mb-0">
          <li><a href="#" class="list-group-item list-group-item-action">Курица</a></li>
          <li><a href="#" class="list-group-item list-group-item-action">Помидор</a></li>
          <li><a href="#" class="list-group-item list-group-item-action">Болгарский перец</a></li>
          <li><a href="#" class="list-group-item list-group-item-action">Лук шалот</a></li>
          <li><a href="#" class="list-group-item list-group-item-action">Чеснок</a></li>
          <li><a href="#" class="list-group-item list-group-item-action">Сванская соль Kitchen Ceremony Зеленая Аджика Kitchen Ceremony</a></li>
        </ol>
      </div>

      <div class="p-3">
        <h4 class="font-italic">Другие рецепты</h4>
        <ol class="list-unstyled">
          <li><a class="list-group-item list-group-item-action" href="recipe-one">Индейка с можжевеловой солью и тыквой</a></li>
          <li><a class="list-group-item list-group-item-action" href="recipe-two">Осенний салат из яблок с фетой и ореховой дуккой</a></li>
        </ol>
      </div>
    </aside><!-- /.blog-sidebar -->

  </div><!-- /.row -->
  <hr>

</main>
