
<main role="main" class="container">
  <div class="row">
    <div class="jumbotron p-3 p-md-5 text-white rounded bloc-img">
      <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">Индейка с можжевеловой солью и тыквой</h1>
        <p class="lead my-3">Блюдо, которое готовится само, на одной сковороде и не потребует от вас никаких дополнительных усилий. Все сделают специи.</p>
        <p class="lead mb-0"><a href="https://kitchenceremony.com/recipe/turkey" class="text-white font-weight-bold">Источник...</a></p>
      </div>
    </div>
    <div class="col-md-8 blog-main">
      <div class="blog-post">
        <h2 class="blog-post-title">Блюдо из индейки</h2>

        <p>Давайте рассмотрим подробно способ приготовления блюда. В правой стороне экрана демонстрируются все необходимые для блюда продукты. Вы можете воспользоваться возможностями нашего сервиса для покупки продуктов онлайн.</p>
        <hr>
        <img class="card-img" src="assets/images/IMG_9903_S.webp" alt="изображение индейки">
        <p>Возьмите бедро индейки, оно более сочное, чем грудка и лучше подходит для запекания, смажьте его оливковым маслом и присыпьте можжевеловой солью. В ней классические розмарин, шалфей и тимьян сочетаются с белыми грибами, можжевельником и чесноком, что дает целую бездну вкуса и отлично сочетается с мясом.</p>
        <p>Тыкву очистите и нарежьте крупными дольками, толщиной примерно 1,5 см. Смешайте с оливковым маслом и хариссой – это арабская острая паста, объединяющая в себе множество специй и трав. Хариссу вы можете заменить зеленой или красной аджикой Kitchen Ceremony. Она придаст блюду не только остроту, но и насыщенный вкус.</p>
        <p>Высложите индейку и тыкву в блюдо, подходящее для запекания, накройте крышкой или фольгой и отправляйте в духовку примерно на час. Мясо должно стать мягким, а тыква почти превратиться в пюре. если вы любите более плотные текстуры, наните сначала запекать индейку, а затем добавьте тыкву.</p>
        <img class="card-img" src="assets/images/IMG_9917.webp" alt="изображение индейки">
      </div><!-- /.blog-post -->

    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      <div class="p-3 mb-3 bg-light rounded">
        <h4 class="font-italic">Чем полезно мясо индейки?</h4>
        <p class="mb-0">Мясо индейки – одно из самых полезных.  Благодаря биохимическому составу, это мясо способно обеспечить организм человека фосфором, селеном, цинком, калием и магнием, витаминами: А, В, D и Е.  Оно очень питательное, при достаточном количестве калорий, содержит очень мало холестерина и считается диетическим.</p>
      </div>

      <div class="p-3">
        <h4 class="font-italic">Необходимые продукты</h4>
        <ol class="list-unstyled mb-0">
          <li><a href="#" class="list-group-item list-group-item-action">Индейка</a></li>
          <li><a href="#" class="list-group-item list-group-item-action">Тыква</a></li>
          <li><a href="#" class="list-group-item list-group-item-action">Оливковое масло</a></li>
          <li><a href="#" class="list-group-item list-group-item-action">Харисса или аджика Kitchen Ceremony</a></li>
          <li><a href="#" class="list-group-item list-group-item-action">Можжевеловая соль Kitchen Ceremony</a></li>
        </ol>
      </div>

      <div class="p-3">
        <h4 class="font-italic">Другие рецепты</h4>
        <ol class="list-unstyled">
          <li><a class="list-group-item list-group-item-action" href="recipe-two">Осенний салат из яблок с фетой и ореховой дуккой</a></li>
          <li><a class="list-group-item list-group-item-action" href="recipe-three">Курица с овощами и нутом</a></li>
        </ol>
      </div>
    </aside><!-- /.blog-sidebar -->

  </div><!-- /.row -->
  <hr>

</main>
