<main role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <div class="row featurette">
            <div class="col-md-7 top-main-block">
              <h2 class="featurette-heading">Ваша личная <span class="text-muted">книга рецептов.</span></h2>
              <p class="lead">Прекрасные рецепты собраны только для вас в одном месте с подробным описанием приготовления блюд и возможностью собрать корзину продуктов.</p>
              <p><a class="btn btn-secondary" href="product-list" role="button">Перейти к покупке продуктов &raquo;</a></p>
            </div>
            <div class="col-md-5 top-main-block">
              <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="assets/images/05b810d0e36decb01e563eca19f38eed%20(1).jpg">
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Индейка с можжевеловой солью и тыквой</h2>
            <p>Блюдо, которое готовится само, на одной сковороде и не потребует от вас никаких дополнительных усилий. Все сделают специи.</p>
            <p><a class="btn btn-secondary" href="recipe-one" role="button">Перейти к рецепту &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Осенний салат из яблок с фетой и ореховой дуккой</h2>
            <p>Осенний салат, сочетающий в себе сразу несколько сезонных продуктов. Можно приготовить вариант попроще или добавить к нему авокадо и прошуто.</p>
            <p><a class="btn btn-secondary" href="recipe-two" role="button">Перейти к рецепту &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Курица с овощами и нутом</h2>
            <p>Простой, яркий и такой душевный рецепт. Золотистая курица и сочные овощи, СЫТНый НУТ, немного остроты за счет специй и никаких строгих правил приготовления.</p>
            <p><a class="btn btn-secondary" href="recipe-three" role="button">Перейти к рецепту &raquo;</a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>
