<main role="main" class="container">
  <div class="row">
    <div class="jumbotron p-3 p-md-5 text-white rounded bloc-img">
      <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">Осенний салат из яблок с фетой и ореховой дуккой</h1>
        <p class="lead my-3">Осенний салат, сочетающий в себе сразу несколько сезонных продуктов. Можно приготовить вариант попроще или добавить к нему авокадо и прошуто. Вкусно будет в любом случае.</p>
        <p class="lead mb-0"><a href="https://kitchenceremony.com/recipe/pomegrante-salad" class="text-white font-weight-bold">Источник...</a></p>
      </div>
    </div>
    <div class="col-md-8 blog-main">
      <div class="blog-post">
        <h2 class="blog-post-title">Блюдо из яблок</h2>

        <p>Разрежьте яблоки на 4 части, удалите сердцевину и нарежьте тонкими ломтиками. Также нарежьте авокадо. Выложите в блюдо для салата зелень, яблоко и авокадо, сверху выложите раскрошенную фету и ореховую дукку с сушеной клюквой. Она придаст салату пряные ноты.</p>
        <hr>
        <img class="card-img" src="assets/images/Autumn-Harvest-Honey.jpg" alt="изображение салата">
        <p>Готовим заправку смешайте около 1/3 чашки оливкового масла, пару столовых ложек лимонного сока или яблочного уксуса, дижонскую горчицу и добавьте мед или сироп по вкусу, чтобы сбалансировать кислотность заправки.</p>
        <p>Залейте салат заправкой, перемешайте и подавайте к столу, слегка посолив.</p>
        <img class="card-img" src="assets/images/Autumn-Harvest-Honey%20(1).jpg" alt="изображение салата">
      </div><!-- /.blog-post -->

    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      <div class="p-3 mb-3 bg-light rounded">
        <h4 class="font-italic">Чем полезны яблоки?</h4>
        <p class="mb-0">В яблоках содержатся витамины A, С, В1, В2, РР и Е, а также магний, фосфор, йод, железо, селен, калий, кальций и цинк. В совокупности они придают нам жизненных сил, помогают справляться со стрессовыми ситуациями, улучшают работу мозга и укрепляют сердечно-сосудистую систему.</p>
      </div>

      <div class="p-3">
        <h4 class="font-italic">Необходимые продукты</h4>
        <ol class="list-unstyled mb-0">
          <li><a href="#" class="list-group-item list-group-item-action">Зерна граната</a></li>
          <li><a href="#" class="list-group-item list-group-item-action">Руккола или шпинат</a></li>
          <li><a href="#" class="list-group-item list-group-item-action">Сладкие яблоки</a></li>
          <li><a href="#" class="list-group-item list-group-item-action">Фета</a></li>
          <li><a href="#" class="list-group-item list-group-item-action">Aвокадо</a></li>
          <li><a href="#" class="list-group-item list-group-item-action">Прошуто</a></li>
          <li><a href="#" class="list-group-item list-group-item-action">Ореховая дукка c сушеной клюквой Kitchen Ceremony</a></li>
        </ol>
      </div>

      <div class="p-3">
        <h4 class="font-italic">Другие рецепты</h4>
        <ol class="list-unstyled">
          <li><a class="list-group-item list-group-item-action" href="recipe-one">Индейка с можжевеловой солью и тыквой</a></li>
          <li><a class="list-group-item list-group-item-action" href="recipe-three">Курица с овощами и нутом</a></li>
        </ol>
      </div>
    </aside><!-- /.blog-sidebar -->

  </div><!-- /.row -->
  <hr>

</main>
